<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Plan</title>
</head>
<body>
    <h1>Add a Trip</h1>

    {% if messages %}
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
    {% endif %}

    <form action="/addTrip" method="post">
        {% csrf_token %}
        Destination: <input type="text" name="destination">
        <br>
        <br>
        Description: <textarea name="description"></textarea>
        <br>
        <br>
        Travel Date From: <input type="date" name="start">
        <br>
        <br>
        Travel Date To: <input type="date" name="end">
        <br>
        <br>
        <input type="submit" value="Add">
    </form>


</body>
</html>
